[user]
    name = mauricioumelo
    email = mauricioumelo@gmail.com
[alias]
    s = !git status -s
    c = !git add --all && git commit -m
    ca = !git add --all && git commit --amend --no-edit
    l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/ee2b180d582a7f601fa6ecfdad8d9fd269ab1884/node /tmp/vscode-remote-containers-3eb14581-7f8a-4a77-9b9d-80b684b80aaa.js git-credential-helper $*; }; f"
